body {
    background-color: #343A40;
}

h3 {
    color: white;
}

text {
    color: white;
}

.tooltip {                                                        /* NEW */
    background: #eee;                                               /* NEW */
    box-shadow: 0 0 5px #999999;                                    /* NEW */
    color: #333;                                                    /* NEW */
    font-size: 10px;                                                /* NEW */
    padding: 10px;                                                  /* NEW */
    text-align: center;                                             /* NEW */
    width: 170px;                                                    /* NEW */
}

.label {
    color: black;
    font-size: 12px;
}

.total{
    color: black;
    font-size: 12px;
}
